extends layout/main-layout.pug
block content
    script. 
        let userProfile = "!{profile._id }"
        let selected = "!{selectedTab}"
    .tabContainer
        +createTabs("followers",`/profile/${profile.username}/followers`,selectedTab != "following")
        +createTabs("following",`/profile/${profile.username}/following`,selectedTab == "following")
    .resultsContainer
block script
   script(src="/js/follow.js")
