extends layout/main-layout.pug
block content
   +createPostForm(user) 
   .postsContainer
   
   +createReplyForm(user)
   +createPinButton()
   +unconfirmPinModel()
block script
   script(src="/js/home.js")
    
