extends layout/login-layout.pug
block content 
    .loginContainer 
        h1 login
        form(method="post")
            p.errorMessage #{errorMessage}
            input(type="text", name="logUserName",placeholder="user name or email", value="test@gmail.com" required) 
            input(type="password", name="logUserPassword",placeholder="user password",value="test@gmail.com" required) 
            input(type="submit", value="login")
        a(href="/register") Need an account ? Register here