:root{
    --blue:#1FA2F1;
    --lightBlue:#9BD1F9;
    --btnHoverBg:#d4edff;
    --lightColor:rgb(239, 243, 244);
    --space:15px;
    --greyText:rgb(101,119,134);
    --red:rgb(226,34,94);
    --redBg:rgba(226,34,94,0.1);
    --grn:rgb(34,226,94);
    --grnBg:rgba(34,226,94,0.1);
    --purpleBtn:rgb(224, 36, 94);
    

}
a{
    color: inherit; 

}
a:hover{
    color: inherit;
    text-decoration:none;
}

nav{
    display: flex;
    flex-direction: column;
    align-items: flex-end
    
}
button{
    outline: none;
    border: none;
    background: transparent;
}
nav a {
    padding: 10px;
    font-size: 30px;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    color: #212529;
}
nav a.blue{
    color: var(--blue);
}
nav a:hover{
    background-color:var(--btnHoverBg);
    color: var(--blue);
    border-radius: 50%;
}
.mainSectionContainer{
    border-left:1px solid var(--lightColor);
    border-right:1px solid var(--lightColor);
    padding:0;
    display: flex;
    flex-direction: column;
   
}
h2{
    font-size: 20px;
    font-weight: 700;
}

.page-title{
    padding:0 var(--space);
    height:53px;
  
    display: flex;
    align-items:center;
    justify-content: space-between;
    border-bottom:1px solid var(--lightColor);
}
.postContainer{
    display: flex;
    padding: 10px;
    border-bottom: 10px solid rgb(185, 202, 211);
    
}
.imgContainer{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.imgContainer img{
    width: 100%;
    border-radius:50%;
    
}
.toolbar{
    display: flex;
    
}

.items{
    display: flex;
    margin-right: auto;
    
}
.item{
    color: var(--blue);
    margin-right: 10px;
    font-size: 20px;
    transition:transform .2s ease;
}
.item:hover{
    cursor: pointer;

}

.postInfo{
    flex: 1;
    
}
.postContainer textarea{
    width: 100%;
    border: none;
    resize: none;
    font-size: 20px;
    
}
.modal-body .post{
    padding: 0;

}
#submitPostButton{
    color: #fff;
    background: var(--blue);
    outline: none;
    border: none;
    padding: 3px 10px;
    border-radius: 999px;
    font-weight: 600;
}

#submitPostButton:disabled{
    background-color:var(--lightBlue)
}

#imgInp{
    display:none;
}

.post-imgs {
    display: grid;
    grid-template-columns: repeat(2,200px);
    grid-gap: 40px;
    align-items: center;
   
}
.post-img{
    position: relative;
}

.post-imgs img{
    width:100%
} 
.cross-btn{
    position: absolute;
    top: -20px;
    right: 0;
    
}
.cross-btn:hover{
    cursor: pointer;
    background-color: var(--btnHoverBg);
    color: var(--blue);
    border-radius: 50%;
}
.disabled{
    color:var(--lightBlue);
}
.disabled:hover{
    cursor:none;
}
#emojis{
    position: absolute;
    margin-top: 50px;
}
.post__photos{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    grid-gap: 28px;
    margin: 0 20px;
}
.post__photo img{
    width: 95%;
}
.post{
    padding: var(--space);
    border-bottom: 1px solid var(--lightColor);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    flex-shrink: 0; 
    position: relative;
}
.mainPostContainer{
    display: flex;
    flex: 1;
}
.postContents{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.username,
.date{
    color: var(--greyText)
}
.emoji{
    width: 20px;
    height: 20px;
    display: inline;
}

.displayName{
    font-weight: bold;
}
.post__header a:hover{
    text-decoration: underline;
}
.post__header  a,
span{
    margin-right: 10px
}
.post__body{
    display: flex;
    flex-direction: column;
}
.post__footer{
    display: flex;
    align-items: center;
}

.post__footer .postButtonContainer{
   
    margin: 0 var(--space);
    color: var(--greyText);
}
.post__footer  .postButtonContainer button{
    color: currentColor;
      padding:2px 5px;
}

.post__footer .heart_btn{
   margin-right: auto;
}
.post__footer button:hover{
    color: var(--blue);
    background-color: var(--btnHoverBg);
    border-radius: 50%;
}

.optionMenu i,
 button i,
 button span{
     pointer-events: none;
 }
 .postButtonContainer.red button.active{
     color: var(--red);
 }

 .postButtonContainer.red button:hover{
    color: var(--red);
    background-color:var(--redBg)
}
 .postButtonContainer.green button.active{
     color: var(--grn);
 }
 .postButtonContainer.green button:hover{
     color: var(--grn);
     background-color:var(--grnBg)
 }
.postContainerAction{
    color: var(--greyText);
    margin-bottom: 5px;
    padding-left: 25px
}
.modal .postContainer{
    border: 0;
    padding:0 inherit;
    margin:0;
}
.replyText{
    color: var(--greyText);
}
.replyText a {
    color: var(--blue)
}

.post__header {
    display: flex;
    align-items: center
}

.post__header .date {
    margin-right: auto;
}
.post__header i{
    color: var(--gray);
}
.optionMenu:focus .postMenus{
    opacity: 1;
    z-index: 100;
    visibility: visible;
    transition: all 0.2s;
}
.postMenus{
    opacity: 0;
    visibility: hidden;
    color: #fff;
    position: absolute;
    right: 0;
    top: 30%;
    background-color: var(--dark);
    padding: 16px 0;
    border-radius: 10px;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.02),
  0 6.7px 5.3px rgba(0, 0, 0, 0.028),
  0 12.5px 10px rgba(0, 0, 0, 0.035),
  0 22.3px 17.9px rgba(0, 0, 0, 0.042),
  0 41.8px 33.4px rgba(0, 0, 0, 0.05),
  0 100px 80px rgba(0, 0, 0, 0.07);
  width:50%;
  transition: opacity 0.2s;
   
}

.postMenu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2px 4px;
}
.postMenu:hover{
    cursor: pointer;
    background-color: rgba(255,255,255,0.03);
}

.postMenu i {
    margin: 0 10px;
}


