:root{
    --blue:#1FA2F1;
    --lightBlue:#9BD1F9;
    --Bgblue:rgba(157 170 249, .9);
    --btnHoverBg:#d4edff;
    --lightColor:rgb(239, 243, 244);
    --space:15px;
    --greyText:rgb(101,119,134);
    --red:rgb(226,34,94);
    --redBg:rgba(226,34,94,0.1);
    --grn:rgb(34,226,94);
    --grnBg:rgba(34,226,94,0.1);
    --purpleBtn:rgb(224, 36, 94);
    

}


.alert{
    position: fixed;
    left: 50%;
    bottom: 0;
    background-color: var(--blue);
    border-radius: 20px;
    padding: 10px 20px;
    color: #fff;
    font-size: 20px;
}
a{
    color: inherit; 

}
a:hover{
    color: inherit;
    text-decoration:none;
}
.row{
    margin-right: 0;
}

nav{
    display: flex;
    flex-direction: column;
    align-items: flex-end
    
}
button{
    outline: none;
    border: none;
    background: transparent;
    /* text-align: center; */
    display: inherite;
    /* text-align: center; */
}
nav a {
    padding: 10px;
    font-size: 30px;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    color: #212529;
}
nav a.blue{
    color: var(--blue);
}
nav a:hover{
    background-color:var(--btnHoverBg);
    color: var(--blue);
    border-radius: 50%;
}
.mainSectionContainer{
    border-left:1px solid var(--lightColor);
    border-right:1px solid var(--lightColor);
    padding:0;
    display: flex;
    flex-direction: column;
   
}
h2{
    font-size: 20px;
    font-weight: 700;
}

.page-title{
    padding:0 var(--space);
    height:53px;
  
    display: flex;
    align-items:center;
    justify-content: space-between;
    border-bottom:1px solid var(--lightColor);
}
.postContainer{
    display: flex;
    padding: 10px;
    border-bottom: 10px solid rgb(185, 202, 211);
    
}
.imgContainer{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    z-index: 200;
}
.imgContainer img{
    width: 100%;
    border-radius:50%;
    
}
.toolbar{
    display: flex;
    
}

.items{
    display: flex;
    margin-right: auto;
    
}
.item{
    color: var(--blue);
    margin-right: 10px;
    font-size: 20px;
    transition:transform .2s ease;
}
.item:hover{
    cursor: pointer;

}

.postInfo{
    flex: 1;
    
}
.postContainer textarea{
    width: 100%;
    border: none;
    resize: none;
    font-size: 20px;
    outline: none;
    
}
.modal-body .post{
    padding: 0;

}
#submitPostButton{
    color: #fff;
    background: var(--blue);
    outline: none;
    border: none;
    padding: 3px 10px;
    border-radius: 999px;
    font-weight: 600;
}

#submitPostButton:disabled{
    background-color:var(--lightBlue)
}

#imgInp{
    display:none;
}

.post-imgs {
    display:flex;
    flex-wrap: wrap;
    margin: 10px 0;
   
}
.post-img{
    position: relative;
    margin-left: 8px;
    flex: 1 0 35%;
   
    
}

.post-imgs img{
    width: 100%;
    object-fit: contain;
    height: 200px;
} 
.cross-btn{
    position: absolute;
    top: -21px;
    left: 90%;
    
}
.cross-btn:hover{
    cursor: pointer;
    background-color: var(--btnHoverBg);
    color: var(--blue);
    border-radius: 50%;
}
.disabled{
    color:var(--lightBlue);
}
.disabled:hover{
    cursor:none;
}
#emojis{
    position: absolute;
    margin-top: 50px;
}
.post__photos{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    grid-gap: 28px;
    margin: 0 20px;
}
.post__photo img{
    width: 222px;
    object-fit: contain;
}
.post{
    padding: var(--space);
    border-bottom: 1px solid var(--lightColor);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    flex-shrink: 0; 
    position: relative;
}
.mainPostContainer{
    display: flex;
    flex: 1;
}
.postContents{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.username,
.date{
    color: var(--greyText)
}
.emoji{
    width: 20px;
    height: 20px;
    display: inline;
}

.displayName{
    font-weight: bold;
}
.post__header a:hover{
    text-decoration: underline;
}
 .post__header > *:not(div)  {
    margin-right: 10px
}
.post__body{
    display: flex;
    flex-direction: column;
}
.post__footer{
    display: flex;
    align-items: center;
}

.post__footer .postButtonContainer{
   
    margin: 0 var(--space);
    color: var(--greyText);
}
.post__footer  .postButtonContainer button{
    color: currentColor;
      padding:2px 5px;
}

.post__footer .heart_btn{
   margin-right: auto;
}
.post__footer button:hover{
    color: var(--blue);
    background-color: var(--btnHoverBg);
    border-radius: 50%;
}

.optionMenu i,
 button i,
 button span{
     pointer-events: none;
 }
 .postButtonContainer.red button.active{
     color: var(--red);
 }

 .postButtonContainer.red button:hover{
    color: var(--red);
    background-color:var(--redBg)
}
 .postButtonContainer.green button.active{
     color: var(--grn);
 }
 .postButtonContainer.green button:hover{
     color: var(--grn);
     background-color:var(--grnBg)
 }
.postContainerAction{
    color: var(--greyText);
    margin-bottom: 5px;
    padding-left: 25px
}
.modal .postContainer{
    border: 0;
    padding:0 inherit;
    margin:0;
}
.replyText{
    color: var(--greyText);
}
.replyText a {
    color: var(--blue)
}

.post__header {
    display: flex;
    align-items: center
}

.post__header .date {
    margin-right: auto;
}
.post__header i{
    color: var(--gray);
}
.optionMenu:focus .postMenus{
    opacity: 1;
    z-index: 100;
    visibility: visible;
    transition: all 0.2s;
}
.postMenus{
    opacity: 0;
    visibility: hidden;
    color: #fff;
    position: absolute;
    right: 0;
    top: 30%;
    background-color: var(--dark);
    padding: 16px 0;
    border-radius: 10px;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.02),
  0 6.7px 5.3px rgba(0, 0, 0, 0.028),
  0 12.5px 10px rgba(0, 0, 0, 0.035),
  0 22.3px 17.9px rgba(0, 0, 0, 0.042),
  0 41.8px 33.4px rgba(0, 0, 0, 0.05),
  0 100px 80px rgba(0, 0, 0, 0.07);
  width:50%;
  transition: opacity 0.2s;
   
}

.postMenu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2px 4px;
}
.postMenu:hover{
    cursor: pointer;
    background-color: rgba(255,255,255,0.03);
}

.postMenu i {
    margin: 0 10px;
}
.coverPhoto{
    height:160px;
    position: relative;
    background-color:var(--blue);
    /* z-index: unset; */
}

.coverPhoto .imgContainer{
    width:80px;
    z-index: 200;
    height:80px;
    position:absolute;
    bottom:-40px;
    left:10px;
    border:4px solid #fff;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items: center;
    /* z-index: 2; */
}

.profileBtns{
    text-align:right;
    padding:10px;
      min-height: 60px;

}
.profileBtn,.followBtn {
    color:var(--blue);
    border:1px solid var(--blue);
    padding:5px 10px;
    font-weight:bold;
    border-radius:20px;
    display:inline-block;
    margin:0 5px;
   
}
.followBtn:focus{
    outline:none;
}

.followBtn:hover,.profileBtn:hover{
    background-color:var(--Bgblue);
}

.followBtn.following{
    background-color:var(--blue);
    color:#fff;
 
}

.profileInfoContainer{
    margin-left:10px;
    margin-top:-10px;
}
.profileInfoContainer .fullName{
    display: flex;
    flex-direction:column;
}

.followerContainer .value{
    font-weight:bold;
}
.followerContainer .text{
    color:var(--greyText)
}

.followerContainer  a:hover{
    border-bottom:1px solid #000;

} 
.followerContainer  span:not(.value){
    margin-left:5px;
}

.followerContainer a{
    margin-right:10px;
}

.tabContainer{
    display:flex;
    border-bottom:1px solid var(--lightColor);
    margin-top:10px;
   
}
.tab{
    flex:1;
     margin-left:10px;
     padding:15px;
     display:flex;
     justify-content:center;
     font-weight:bold;
     color:var(--greyText)

}
.tab:hover{
    color:var(--blue);
    background-color: rgb(157 170 249 / 27%);
 
}

.tab-active{
    border-bottom:2px solid var(--blue);
}

.profile__upload, .cover__upload {
    position:absolute;
    font-size:30px;
    color:rgba(0,0,0,.6);
    display:none;
}
.user__info{
    border-bottom: 1px solid var(--light);
    display: flex;
    align-items: center;
    padding: 10px;
}
.user__info > .followBtn {
    margin-left: auto;
}
.coverPhoto__upload{
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;

}
.coverPhoto__upload:hover{
    cursor:pointer;
}
.imgContainer:hover .profile__upload,
.coverPhoto__upload:hover .cover__upload {
    display:inline-block; 
    cursor: pointer;   

}
.uploadProfilePhoto{
    display:flex;
    justify-content:center
}
.uploadProfilePhoto label:hover{
   cursor:pointer;
}
.coverPhoto__upload img{
    width:100%;
    object-fit:cover;
    height:100%;
}

.uploadProfilePhoto input {
    display:none;
}
.previewImgContainer{
    display:none;
    overflow: hidden;
    justify-content:center;
}
.previewImgContainer img{
    object-fit:cover;
    max-width:100%;
    width:100%;
}

.btn-pin.active i{
    color: var(--blue) !important;
}
.pintext{
    margin-left: 10px;
    font-size: 12px;
}

.searchBoxContainer{
    position:relative;
    color:var(--greyText);
    padding:10px 15px;
}
.searchBoxContainer i {
   position:absolute;
   top: 18px;
   left: 25px;
}
.searchBoxContainer #searchBox{
    border-radius:25px;
    outline:none;
    border:none;
    width:100%;
    background-color:var(--lightColor);
    padding: 5px 10px 5px 35px;
}
.chatPageContainer{
    display:flex;
    flex-direction:column;
}
.chatTitleBox{
    padding: 10px;
    display:flex;
    min-height:60px;
    border:1px solid var(--lightColor);
}
.chatTitleBox label{
    margin-right:10px;
    height:100%;
}

.chatTitleBox #userSearchTextbox{
    flex:1;
    min-width:350px;
    border:none;
    outline:none;
    font-size:18px;
    font-weight:200;

}
#createChatButton{
    background-color:var(--blue);
    color:#fff;
    border:none;
    margin:10px auto;
    padding:7px 15px;
    border-radius:50px;
    outline: none;
}
#createChatButton:disabled{
    background-color:var(--light);
    color:var(--gray)
}

.userSelected{
    background-color:var(--lightColor);
    color:var(--blue);
    margin:0 5px;
    padding:2px 5px;
    border-radius:5px;

}
.resultContainerList{
    display:flex;
    align-items:center;
     padding:10px;
    border-bottom:1px solid var(--lightColor);

}

.resultDetail{
    display:flex;
    flex-direction:column;
    flex: 1;
}
.resultDetail .heading{
   font-weight:500;
}

.resultDetail .subText{
    color:var(--greyText);
    font-size:14px;
}
.resultContainerList img{
    width:100%;
    height:100%;
    border-radius:50%;
    background-color:#fff;
}
.resultContainerProfile {
    width:45px;
    height:45px;
    position:relative;
    margin-right:10px;
    display:flex;
    align-items:center;
    padding:5px;

}

.groupChat img{
    position:absolute;
    width:65%;
    height:65%;
    margin:0;
    bottom:0;
    border: 2px solid #fff;
}
.groupChat img:nth-child(2){
    top:0;
    right:0;
}
.elipsis{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}










