mixin createPostForm(user)
    .postContainer 
        .imgContainer 
            img(src=`${user.profile}`)
        form.postInfo
            .textareaContainer 
                textarea#postTextarea(name="content" placeholder="What is on your mind ?")
                .post-imgs 
                    //- .post-img 
                    //-     img(src="/img/profilepics.jpg", alt="", style="width:150px;height:150px") 
            input(type='hidden' name='createdBy' value=`${user._id}`)
            .toolbar
                .items 
                    .item
                        input(accept="image/*" type='file' name='photos' id="imgInp" multiple)
                        i(class="far fa-image imageUpload")
                    .item
                        i(class="far fa-smile")
                .buttonContainer
                    button#submitPostButton(disabled="") Post

